<!DOCTYPE html>
<html>

<head>
  <title>Personal Profile</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/static/mystyle.css">
</head>
      <div class="Nav-Bar" id="NavBar">
    <ul>
      <li><a class="active" href="Homepage.html">Homepage</a></li>
      <li><a href="Cv.html"> Cv </a></li>
      <li><a href="Portfolio.html"> My Portfolio</a></li>
      <li><a href="AboutMe.html">About Me</a></li>
      <li><a href="ContactUs.html"> Contact Us</a></li>
    </ul>
    </div>
  <body> 
  <div class="container">
      <div class="row text-center">
        <h2>Accomplishments</h2>
      </div>
    </div>
  <article>
  <div class="about">
    <h1>Personal Profile</h1>
    <p style="color: black;font-size:100%; border: 2px solid grey;text-align:center;margin-right:95px;margin-left:95px;">
      Being a mature student at 24 years old was quite daunting and difficult for me to deal with, however, I have learnt and witnessed age doesn’t define your career route. In fact, it has been an overwhelming experience thus far, an experience which has
      been delightfully splendid. From an early age I have always been intrigued and possessed a passion for computing. During secondary school I had undertaken ICT as one of my GCSE options, this enabled me to develop my knowledge and skills further
      to an exceptional level. Having enjoyed ICT throughout my secondary school years, I decided to attend college and undertake a BTEC National Diploma in IT (Software systems), gaining my Diploma in ICT has most definitely enhanced my performance in
      the world of computing, achieving the right skills which are required within the computing industry. I managed to accomplish specific skills such as; interpersonal skills, networking skills, team-management skills, communication skills and most
      importantly, time-management. Once I received my qualifications, I made a remarkable decision to take a gap year to explore various opportunities throughout the year, securing a variety of work experiences enhancing my work level. Future ambitions:
      analyzing my past experiences, I believe I have the right attributes and the essential necessities to become a systems analyst in the near future. Having captured specific technical acquirement in the computing area, acquirement such as; database
      management skills, information systems skills, combining all these elements, I have the knowledge to exceed my potential to a great new level, and allow myself to excel within the technology industry </p>
  </div>
</article>

<div class="row">
      <figure class="col-sm-6"id=photo1>
        <p>Skill Sets</p>
        <img src="http://marketingland.com/wp-content/ml-loads/2014/09/technology-future-woman-ss-1920-800x450.jpg">
      </figure>

      <figure class="col-sm-6">
        <p>Qualifications</p>
        <img src="https://blogadmin.edmc.edu/southuniversity/image.axd?picture=%2F2015%2F06%2FWhyStudyITblog.jpg">
      </figure>
    </div>
  </body>
  
  <footer class="container">
  <div class="row">
    <p class="col-sm-4">Copyright© 2016</p>
    <ul class="col-sm-8">
      <li class="col-sm-1">.... </li>
      <li class="col-sm-1">.... </li>
      <li class="col-sm-1">.... </li>
      <li class="col-sm-1">.... </li>
    </ul>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


</html>